
.signup_div {
	max-width: 600px;
  	margin: 40px auto;
  	background-color: #f2f2f2;
  	padding: 15px;
  	border: 2px solid #ff5733;
}

.signup_title {
	font-size: 18px;
	display: block;
	text-align: center;
}

.field_title {
	display: block;
	width: 100%;
	font-size: 15px;
	font-weight: 600;
	margin-bottom: 10px;
	margin-top: 15px;
}

.input_signup {
	display: inline-block;
	width: 100%;
    padding: 10px 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.input_signup:focus{
	border: 2px solid #ff5733;
}

.role_div{
	clear: both;
	/*margin: 0 25px;*/
}

.role_name {/*label css*/
	width: 250px;
  	border-radius: 4px;
  	border: 1px solid #ccc;
  	background-color: white;
}

/* hide input */
input.radio {
	display: none;
}

/* style label */
input.radio ~ label {
	position: relative;
	float: left;
	line-height: 2.5em;
	text-indent: 3.25em;
	margin-top: 10px;
	cursor: pointer;
	-webkit-user-select: none;/*the text can't be selected if double clicked*/
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}


input.radio ~ label:before {
	position: absolute;
	display: block;
	top: 0;
	bottom: 0;
	left: 0;
	content: '';
	text-indent: .9em;
	width: 2.5em;
	background: white;/*#ff5733;*/
	border-radius: 3px 0 0 3px;
}

/* toggle hover */
input.radio:hover:not(:checked) ~ label:before {
	content:'\2714';/*the html code for the checkmark*/
	text-indent: .9em;
	color: black;
}

/* toggle on */
input.radio:checked ~ label:before {
	content:'\2714';
	text-indent: .9em;
	color: black;
	background-color: #ff5733;
}

/*the signup button*/
#signup_button {
	width: 100%;
    height: 50px;
    display: block;
    background-color: #ff5733; /*button's color*/
    border: none;
    color: white;/*text's color*/
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin-top: 20px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;/*the speed of the hover effect*/
    cursor: pointer;
}

.successful_sign_up {
	max-width: 800px;
  	margin: 40px auto;
  	background-color: #f2f2f2;
  	padding: 15px;
  	border: 2px solid #ff5733;
}